.collapsed-menu .el-sub-menu .el-sub-menu__title {
  padding: 0;
  justify-content: center;
}

.collapsed-menu .el-sub-menu .el-sub-menu__title .svg-icon {
  margin: 0;
}

/* 菜单项的hover背景色 */
.app-link li:hover {
  background-color: var(--menu-hover-bg-color) !important;
}
/* 非菜单项的子菜单hover背景色 */
.el-sub-menu__title:hover {
  background-color: var(--menu-hover-bg-color) !important;
}

/* foucs后不改变按钮的样式,hover仍保持原样 */
.el-button:focus {
  color: var(--el-button-text-color);
  background-color: var(--el-button-bg-color);
  border-color: var(--el-button-border-color);
}

.el-button:hover {
  color: var(--el-button-hover-text-color);
  border-color: var(--el-button-hover-border-color);
  background-color: var(--el-button-hover-bg-color);
  outline: 0;
}

.el-button.is-link:focus {
  border-color: transparent;
  color: var(--el-button-text-color);
  background: 0 0;
}

.el-button.is-link:hover {
  border-color: transparent;
  background-color: transparent;
  color: var(--el-button-hover-link-text-color);
}
